In [ ]:
# Dt=07/02/2023

 Convert two lists into a dictionary

In [1]:
#sol-1
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
di= dict(zip(keys, values))
print(di)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [3]:
# using update Sol-2
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# empty dictionary
res_dict = dict()

for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Merge two Python dictionaries into one

In [4]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [5]:
#sol-2
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
var= "James Bond"
print(var[2::-1])

maJ

In [8]:
def calculate (num1, num2=4):
   res = num1 * num2
   print(res)

calculate(5, 6)

30

In [9]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [10]:
str = "pynative"
print (str[1:3])

yn

In [11]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0