In [ ]:
# Dt-07/02/2023

# dictionary

In [10]:
student={
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
    }
}

#way-1
grade=student['grade']
print(grade['12th'])
# way2
print(student['grade']['12th'])
print(student)

64
64
{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}

In [7]:
student['branch']='CSE'
print(student)

{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}, 'branch': 'CSE'}

In [14]:
from pprint import pprint
student={
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
    }
}

print(student)

{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}

In [19]:
# Iterate dictionary
from pprint import pprint
student={
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
    }
}

for i in student.keys():
    print(i,student[i])

name Arun
age 21
college XYZ clg
grade {'10th': 73, '12th': 64, 'Btech': 78}

In [29]:

from pprint import pprint
student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
print(student[2]['name'])

Rahul

In [30]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i in student.keys():
    print(i)

1
2

In [40]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i in student.keys():
    print(i,student[i].keys())

1 dict_keys(['name', 'age', 'college', 'grade'])
2 dict_keys(['name', 'age', 'college', 'grade'])

In [32]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i,j  in student.items():
    print(i,j)

1 {'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}
2 {'name': 'Rahul', 'age': 24, 'college': 'XYZ clg', 'grade': {'10th': 89, '12th': 90, 'Btech': 78}}

In [37]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}

    
for i in student.keys():
    for j in student[i].keys():
        print(j,student[i][j])
    print()

name Arun
age 21
college XYZ clg
grade {'10th': 73, '12th': 64, 'Btech': 78}

name Rahul
age 24
college XYZ clg
grade {'10th': 89, '12th': 90, 'Btech': 78}

In [41]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i in student.keys():
    for j in student[i].keys():
        print(i,j,student[i][j])
    print()

1 name Arun
1 age 21
1 college XYZ clg
1 grade {'10th': 73, '12th': 64, 'Btech': 78}

2 name Rahul
2 age 24
2 college XYZ clg
2 grade {'10th': 89, '12th': 90, 'Btech': 78}

In [56]:

student=[
    {
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   {
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':80 
     }
  }
]

for i in student:
    print(i)
print(type(i))
print(len(student))

{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}
{'name': 'Rahul', 'age': 24, 'college': 'XYZ clg', 'grade': {'10th': 89, '12th': 90, 'Btech': 80}}
<class 'dict'>
2

In [55]:

student=[
    {
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     (student
    },
    
   {
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
]

for i  in range(len(student)):
    for j in student[i].keys():
        print(j,student[i][j])
        
    print()

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' on line 10 (3688005864.py, line 11)

In [57]:
student=[
    {
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   {
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
]

for i in student:
    for j in i.keys():
        print(i[j])

Arun
21
XYZ clg
{'10th': 73, '12th': 64, 'Btech': 78}
Rahul
24
XYZ clg
{'10th': 89, '12th': 90, 'Btech': 78}

In [58]:
student=[
    {
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   {
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
]

for i in student:
    for j in i.keys():
        print(j,i[j])

name Arun
age 21
college XYZ clg
grade {'10th': 73, '12th': 64, 'Btech': 78}
name Rahul
age 24
college XYZ clg
grade {'10th': 89, '12th': 90, 'Btech': 78}