In [ ]:
# Dt-07/02/2023

# dictionary

In [10]:
student={
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
    }
}

#way-1
grade=student['grade']
print(grade['12th'])
# way2
print(student['grade']['12th'])
print(student)

64
64
{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}

In [7]:
student['branch']='CSE'
print(student)

{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}, 'branch': 'CSE'}

In [14]:
from pprint import pprint
student={
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
    }
}

print(student)

{'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}

In [19]:
# Iterate dictionary
from pprint import pprint
student={
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
    }
}

for i in student.keys():
    print(i,student[i])

name Arun
age 21
college XYZ clg
grade {'10th': 73, '12th': 64, 'Btech': 78}

In [29]:

from pprint import pprint
student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
print(student[2]['name'])

Rahul

In [30]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i in student.keys():
    print(i)

1
2

In [40]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i in student.keys():
    print(i,student[i].keys())

1 dict_keys(['name', 'age', 'college', 'grade'])
2 dict_keys(['name', 'age', 'college', 'grade'])

In [32]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}
for i,j  in student.items():
    print(i,j)

1 {'name': 'Arun', 'age': 21, 'college': 'XYZ clg', 'grade': {'10th': 73, '12th': 64, 'Btech': 78}}
2 {'name': 'Rahul', 'age': 24, 'college': 'XYZ clg', 'grade': {'10th': 89, '12th': 90, 'Btech': 78}}

In [37]:

student={
    1:{
    'name':'Arun',
    'age':21,
    'college':'XYZ clg',
    'grade':{
        '10th':73 ,
         '12th':64,
        'Btech':78
     }
    },
    
   2:{
   'name':'Rahul',
    'age':24,
    'college':'XYZ clg',
    'grade':{
        '10th':89 ,
         '12th':90,
        'Btech':78 
     }
  }
}

    
for i in student.keys():
    for j in student[i].keys():
        print(j,student[i][j])
    print()

name Arun
age 21
college XYZ clg
grade {'10th': 73, '12th': 64, 'Btech': 78}

name Rahul
age 24
college XYZ clg
grade {'10th': 89, '12th': 90, 'Btech': 78}